@charset "utf-8";
/* CSS Document */
/* Sistema Laudos.net */
/* Versão 1.0 */
/* Front-End by Thiago bueno */

/* Estrutura do Documento */
/* 1.0 - Estilos Gerais */
/* 2.0 - Header */
/* 3.0 - Master Page */
/* 4.0 - Login */
/* 5.0 - Content */
/* 5.1 - Form Results */
/* 6.0 - Footer */
/* ************ */
/* @Media Queries */

/* Estilos Gerais */

body {
	background-color:#eceef2;
}

.pre-header {
	position: fixed;
    width: 100%;
    z-index: 10000;
}

.pre-header .col-md-3, .pre-footer .col-md-9 {
	height:4px;
	background-color:#00bfe8;
}

.pre-header .col-md-9, .pre-footer .col-md-3 {
	height:4px;
	background-color:#6dc7be;
}


/* 2.0 - Header */

header {
	background-color:#002027;
	height:80px;
}

.pg-pesquisa header {
	background:transparent;
	height:120px;
	margin-top:30px;
}

.marca {
	margin:0 auto;
	text-align:center;
}

.side-menu {
    margin-right: 40px;
}

.user-logged {
    margin-top: 10px;
}

.side-menu .user-logged img {
    border-radius: 100%;
}

.side-menu .user-logged h6 {
    float: left;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    margin-right: 20px;
}


.logo {
	margin-top:12px;
}

.cadastrar, .login {
	float:left;
}

a .cadastrar {
    background-color: #6dc7be;
    padding: 5px 10px;
    margin-top: 8px;
	margin-right:30px;
}

a .cadastrar h3 {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    font-size: 19px;
	color:#0a0a0a;
}

a .login h3 {
	position: relative;
    top: 5px;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:underline;
	font-size: 19px;
}

/* 3.0 - MENU/SIDEBAR */

/* 2.0 - Sidebar */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #002027;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* menu */

a#menu-toggle {
    float: left;
	margin-top: 20px;
}

a#menu-toggle i.fa.fa-indent {
    font-size: 38px;
    color: #FFF;
}
a#menu-toggle:hover i.fa.fa-indent {
	color:#6dc7be;
}

.sidebar-nav i {
    margin-right: 20px;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #b0bec5;
	padding:10px 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #323232;
    background: #6dc7be;
	border-left: 4px solid #00bfe8;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

li.redes {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    /* height: 65px; */
    padding: 10px;
    text-align: center;
    margin: 10px;
}

li.redes a {
    display: inline;
}

li.redes a:hover {
    text-decoration: none;
    color: #6dc7be;
    background: transparent;
	border-left: none;
}

li.sair {
	clear:both;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.logo-menu {
    position: absolute;
    bottom: 15px;
}

/* 3.0 - Master page */

.results .info-pag {
	height:100px;
}

.info-pag {
	height:55px;
	background-color:#FFF;
-webkit-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.1);
box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.1);
}

.info-pag h1 {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.9em;
}

.back {
	margin:10px 0;
}

.breadcrumb {
	background-color:#6dc7be;
	text-transform:uppercase;
	color:#002027;
}

.breadcrumb a {
	color:#FFF;
}

.breadcrumb a:hover {
	color:#002027;
}

/* 4.0 - Login */

.pg-login, .pg-pesquisa, .pg-pesquisa-estab {
	background:url(../img/back-login.jpg) no-repeat;
}

.row.header-login {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}

section.box-login {
    background-color: #FFF;
    margin: 20px 5%;
    border-radius: 3px;
    padding: 0 20px;
    width: 50%;
    margin: 5% auto 10px auto;
    /* text-align: center; */
}

form.form-login {
    text-align: center;
}

.pg-login input[type="text"] {
    padding: 5px 15px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d5d5d5;
    padding: 15px;
    /* text-align: center; */
}

.pg-login h6 {
	text-align: left;
    margin-left: 11%;
    color: #00bfe8;
    font-size: 14px;
}

.pg-login input[type="submit"] {
    width: 80%;
    height: 60px;
    font-size: 25px;
    border: none;
    color: #FFF;
    background-color: #00bfe8;
    border-radius: 5px;
}

.bt-submit {
	margin-bottom:20px;
	padding-bottom:30px;
	border-bottom:1px solid #6dc7be;
}

.bt-cadastrar {
    padding-bottom: 50px;
}

.bt-cadastrar h4 {
    background-color: #323232;
    height: 50px;
    margin-top: 105px;
    width: 250px;
    position: relative;
    top: 30px;
    padding-left: 15px;
    color: #FFF;
	text-decoration:none;
}

.bt-cadastrar h4 a {
	color:#FFF;
}

.bt-cadastrar span {
    text-transform: uppercase;
}

.contact {
    width: 50%;
    margin: 0 auto;
}

.contact h5 {
    float: right;
    color: #00bfe8;
    font-size: 16px;
}

.contact h5 a {
	color: #00bfe8;
}

.contact h5 span {
	text-transform:uppercase;
}

/* 5.0 - Content */

main {
	padding-bottom:50px;
}

/* 5.1 - Form Results */

form.form-results {
    margin-top: 15px;
    margin-left: 20px;
}

.tipo-atendimento {
	float:left;
	margin-right:40px;
}

.tipo-atendimento label {
    font-size: 22px;
    font-weight: normal;
}

select, input[type="text"] {
    padding: 5px 15px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: #d5d5d5;
}

input[type="text"] {
    padding: 7px 15px;
}

input[type="image"] {
    position: relative;
    top: 14px;
}

/* 5.2 - Content Results */

.box-results {
    background-color: #FFF;
    width: 47%;
    margin: 20px;
	border-radius:3px;
	padding:0;
	height:260px;
}

.detail-date {
    float: left;
    margin: 0 30px;
    margin-top: 20px;
    text-align: center;
	height:260px;
}

.date h1 {
    font-size: 3.5em;
    margin: 10px 0;
    font-weight: bold;
}

.date h2 {
    font-size: 1.5em;
    margin: 0;
    color: #00bfe8;
    font-weight: bold;
}

.date h3 {
    font-size: 1em;
    margin: 10px 0;
    color: #bababa;
}

.barra {
	 width: 100%;
    background-color: #e8e8e8;
    height: 2px;
    position: relative;
    top: 50px;
}


.detail-info {
    float: right;
    width: 85%;
    border-left: 2px solid #e8e8e8;
	background-color: #fbfbfb;
	height:260px;
}

.info-title {
    padding-left: 50px;
}

.title h3 {
    color: #777777;
    font-size: 14px;
    text-transform: uppercase;
	float:left;
	font-weight:bold;
}

.hour-agenda {
    float: right;
	margin-right:20px;
}

.hour-agenda h4 {
    margin-top: 15px;
    font-size: 22px;
	color: #00bfe8;
}

.hour-agenda h4 span {
    font-size: 18px;
}

.info-detail {
    clear: both;
	padding-left:50px;
}

.left {
    float: left;
    width: 50%;
}

h3.estab {
    font-weight: bold;
    color: #00bfe8;
}

.desc span, .end span, .tel span {
    color: #00bfe8;
    text-transform: uppercase;
    font-weight: bold;
}

.right {
	float:right;
	margin-right:50px;
	text-align:center;
}

h4.plano-saude {
    text-transform: uppercase;
    font-size: 15px;
    color: #6dc7be;
    background-color: #eceef2;
    padding: 5px;
    border-radius: 5px;
    margin: 20px 0;
}

i.fa.fa-money {
    font-size: 21px;
    float: left;
    margin-left: 15px;
    color: #666666;
}

.valor h5 {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: bold;
}

.valor p {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: bold;
}

h6.resultado-tempo {
    color: #6dc7be;
    font-size: 15px;
    font-weight: bold;
}

.bt-ok h2 {
    background-color: #00bfe8;
    padding: 5px;
    border-radius: 10px;
    color: #FFF;
}

/* 5.3 - Agendamento */

form.form-agendamento {
    margin: 20px auto;
    text-align: center;
}

.form-agendamento label {
    font-style: italic;
    color: #00bfe8;
    font-size: 16px;
    font-weight: bold;
}

.form-agendamento select {
    margin: 0 10px;
    padding: 5px 20px;
}

.box-agendamento {
    background-color: #FFF;
    margin: 20px;
	border-radius:3px;
	padding:0;
}

.ag-title {
    width: 100%;
    height: 50px;
    background-color: #fbfbfb;
    padding-left: 20px;
    border-bottom: 2px solid #e8e8e8;
}

.title span {
    color: #00bfe8;
}

.title em {
    color: #6dc7be;
    font-style: normal;
}

.ag-detail {
    height: 400px;
    padding-left: 20px;
}

.ag-detail img {
    clear: both;
    float: left;
    margin-bottom: 20px;
}

.ag-desc {
    float: left;
    width: 31%;
    padding-right: 30px;
    margin-right: 30px;
    height: 100%;
    border-right: 2px solid #e8e8e8;
}

.ag-desc h3 {
	float:left;
	margin-bottom:25px;
}

.ag-desc h4.cnpj {
        float: right;
    font-size: 14px;
    position: relative;
    top: 15px;
}

.ag-desc p.desc {
    clear: both;
}

.ag-info {
    float: left;
    width: 31%;
    padding-right: 30px;
    margin-right: 30px;
    height: 100%;
    border-right: 2px solid #e8e8e8;
    text-align: center;
}

h5.dia {
    margin-bottom: 5%;
}

h4.data-hora {
    color: #00bfe8;
    font-weight: bold;
}

.data-hora span {
    text-transform: uppercase;
    font-weight: bold;
	color:#000;
}

p.time {
    font-size: 15px;
    margin:5%;
}

.time span {
    color: #6dc7be;
    font-size: 22px;
}

i.fa.fa-clock-o {
    color: #6dc7be;
    font-size: 22px;
}

.ag-detail i.fa.fa-money {
    font-size: 21px;
	float:none;
    margin-right: 15px;
    color: #666666;
}

.ag-info h4.plano-saude {
    text-transform: uppercase;
    font-size: 15px;
    color: #6dc7be;
    background-color: #eceef2;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
    margin: 5% auto;
}

.ag-info .valor {
	margin:7%;
}

.ag-cta {
    float: left;
    width: 31%;
}

.bt-encontrar, .bt-cancelar {
    width: 50%;
    margin: 0 auto;
    background-color: #6dc7be;
    border-radius: 3px;
    margin-top: 20%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.16);
}

.bt-encontrar p, .bt-cancelar p {
    color: #FFF;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 10%;
    padding: 10px 0;
    /* float: left; */
    /* margin-top: 20px; */
}

i.fa.fa-map-marker, i.fa.fa-times-circle-o {
    float: right;
    margin-top: -55px;
    margin-right: 10%;
    color: #FFF;
    font-size: 35px;
}

.bt-cancelar {
	background-color: #aa0e19;
}

/* 5.4 - Perfil */

.box-perfil {
    background-color: #FFF;
    margin: 20px 5%;
    border-radius: 3px;
    padding: 0 20px;
}

.title-perfil {
    text-align: center;
    padding: 5px 0 20px 0;
    border-bottom: 2px dotted #dce1e6;
}

.title-perfil h2 {
    color: #00bfe8;
}

.title-perfil p {
    font-weight: bold;
}

form.form-perfil {
    margin-top: 30px;
	text-align:center;
}

.box-perfil select, .box-perfil input[type="text"] {
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #d5d5d5;
}

.form-perfil input[type="file"] {
    display: inline;
    margin-left: 40px;
}

.img-perfil {
	text-align:left;
}

.form-perfil .img-perfil label {
	text-transform: uppercase;
    color: #00bfe8;
	margin-top:20px;
	margin-left:5%;
}


.form-perfil input[type="image"] {
    position: relative;
    top: 100px;
    left: -25%;
    text-align: center;
}

/* 5.5 - Pesquisa */

.pg-pesquisa .title-perfil, .pg-pesquisa-estab .title-perfil {
	 text-align: left;
}

.pg-pesquisa .box-perfil, .pg-pesquisa-estab .box-perfil {
	width: 50%;
    margin: 40px auto;
}

.pg-pesquisa .title-perfil h2 {
    color: #00bfe8;
    font-weight: bold;
    font-size: 25px;
}

.pg-pesquisa h4 {
    color: #00bfe8;
}

.pg-pesquisa .title-perfil p {
    font-weight: normal;
    font-size: 1.1em;
}

.pg-pesquisa h5 {
    font-size: 15px;
    font-weight: bold;
}

form.form-pesquisa {
    margin-top: 20px;
	padding-bottom:30px;
}

.atendimento-pesquisa {
    text-align: center;
}

.atendimento-pesquisa label {
	font-size:35px;
	font-weight:normal;
	margin-right: 30px;
    margin-left: 30px;
}

.pg-pesquisa .box-perfil select, .pg-pesquisa .box-perfil input[type="text"] {
	width:100%;
}

.botao-pesquisa {
    margin: 0 auto;
    text-align: center;
}

/* 5.6 - Cadastro */

.pg-cadastro input[type="text"] {
    padding: 15px;
    display: block;
    width: 90%;
    margin: 10px auto;
}

form.form-cadastro {
    margin-top: 50px;
}

.pg-cadastro select {
    display: block;
    padding: 15px;
    margin: 10px auto;
    width: 90%;
}

.pg-cadastro input[type="checkbox"] {
    margin-left: 5%;
    margin-right: 20px;
}

.pg-cadastro label {
    font-size: 15px;
	margin-top:20px;
}

.pg-cadastro label span {
	text-transform:uppercase;
}

.pg-cadastro input[type="submit"] {
    margin-left: 5%;
    margin-top: 5%;
    padding: 8px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #00bfe8;
	display:block;
}

/* 5.7 - Estab */

.pg-pesquisa-estab footer, .pg-pesquisa-estab header {
	background-color:transparent !important;
}

h2.phone {
    color: #FFF;
}

img.logo-cliente {
    margin-top: 20px;
}

.bt-sistem-encaixe-me {
    background-color: #00bfe8;
    padding: 10px 20px;
    margin-top: 20px;
}

.pg-pesquisa-estab h4 {
	color:#00bfe8;
}

/* 6.0 - Footer */

footer.row {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 44px;
    background-color: #FFF;
}

footer a {
    color: #3a3a3a;
}

.links-rodape ul, .submenu-rodape ul, .social ul {
	display:inline;
	position:relative;
	top:5px;
}

.links-rodape ul li, .submenu-rodape ul li, .social ul li { 
	display:inline;
	margin: 15px;
    position: relative;
    top: 3px;
}

.links-rodape ul li span, .submenu-rodape ul li span {
	margin-left:20px;
}

.links-rodape ul {
	padding:0;
}

.submenu-rodape {
    text-align: center;
	color:#FFF;
}

.social {
    float: right;
	margin-right:20px;
}

i.fa.fa-facebook {
    color: #6dc7be;
	font-size:20px
}

i.fa.fa-twitter {
    color: #00bfe8;
	font-size:20px;
}

/* ********* @MEDIA QUERIES *********** */

@media (max-width:1730px) {
	
	.box-results {
		height:300px;
	}
	
	.detail-info {
		height:300px;
		width:80%;
	}
}

@media (max-width:1500px) {
	
	.bt-encontrar, .bt-cancelar {
		margin-top:25%;
	}
	.bt-encontrar p, .bt-cancelar p {
		font-size:22px;
	}
	i.fa.fa-map-marker, i.fa.fa-times-circle-o {
		font-size:28px;
		margin-top:-50px;
	}
}

@media (max-width:1366px) {
	.ag-desc {
		width:35%;
	}
	.ag-info {
		width:28%;
	}
	.box-results {
		width:46%;
	}
	
	.title h3 {
		position:relative;
		left:-30px;
	}
	
	.info-detail {
		padding-left:20px;
	}
	.detail-info {
		width:75%;
	}
	.info-detail .left {
		width:55%;
	}
	.info-detail .right {
		margin-right:10px;
	}
}

@media (max-width:1300px) {
	
	.bt-encontrar, .bt-cancelar {
		margin-top:30%;
	}
	
	.bt-encontrar p, .bt-cancelar p {
		font-size:18px;
	}
	i.fa.fa-map-marker, i.fa.fa-times-circle-o {
		font-size:23px;
		margin-top:-45px;
	}
	.box-results {
		height:400px;
	}
	.detail-info {
		height:400px;
	}
	info-detail .left {
		width:45%;
		text-align: justify;
	}
}

@media (max-width:1200px) {
	.box-results, .detail-info {
		height:510px;
	}
	.info-detail {
		padding-left:0;
	}
	.detail-info .left {
		float:none;
		width:100%;
        padding: 10px 20px 0 20px;
    text-align: justify;
    border-bottom: 1px solid #ccc;
}

.detail-info .right {
    float: none;
    margin-right: 20px;
    text-align: center;
}

i.fa.fa-money {
	float:none;
}

.detail-info h4.plano-saude {
	margin:20px 80px;
}

.bt-ok h2 {
	margin:20px 50px;
}
	
	.ag-detail {
		height:430px;
	}
	.ag-desc h3 {
    float: none;
    margin-bottom: 0;
	}
	.ag-desc h4.cnpj {
		float: none;
		font-size: 14px;
		position: relative;
		top: 0;
	}
	.bt-encontrar, .bt-cancelar {
		width:70%;
	}
}

@media (max-width:1170px) {
	.col-md-3.cad {
    width: 35%;
	}
	.marca {
		width:40%;
	}
	.ag-cta {
		width:25%;
	}
	.bt-encontrar, .bt-cancelar {
		margin-top:35%;
	}
	.bt-encontrar p, .bt-cancelar p {
		font-size:15px;
	}
	i.fa.fa-map-marker, i.fa.fa-times-circle-o {
		font-size:20px;
		margin-top:-42px;
	}
	
}

@media (max-width:1100px) {
	.detail-info {
		width:70%;
	}
		.box-results {
		width:45%;
		height:560px;
	}
	.detail-info {
		height:560px;
	}
	.box-results .title h3 {
		font-size:11px;
	}
	.hour-agenda h4 {
		font-size:17px;
	}
	.hour-agenda h4 span {
    font-size: 15px;
}
	.ag-info h4.plano-saude {
		width:80%
	}
}

@media (max-width:1000px) {
	.col-md-3.cad {
    	width: 45%;
	    float: right;
	}
	.marca {
		width:25%;
		float: left;
		margin-left: 20%;
	}
	.back {
		float:left;
	}
	
	.box-results {
		width:95%;
		height: 450px;
	}
	.detail-info {
		width:85%;
		height: 450px;
	}
	
	.ag-detail img {
		width:100%;
	}
	
	.bt-encontrar, .bt-cancelar {
		margin-top:40%;
	}
	
	footer.row {
		height: 120px;
    	text-align: center;
	}
	.social {
		float:none;
	}
	footer .col-md-6 {
    margin: 15px 0;
	}
	i.fa.fa-map-marker, i.fa.fa-times-circle-o {
		display:none;
	}
}

@media (max-width:940px) {
	.ag-detail {
		height:450px;
	}
}

@media (max-width:900px) {
	.marca {
		margin-left:10%;
	}
	.detail-info {
		width:80%;
	}
	
	.title h3 {
    font-size: 12px;
    float: none;
    text-align: center;
    position: relative;
    top: 20px;
	}
	.detail-info .title h3 {
		float:left;
		top:0;
	}
	.ag-detail {
		height:100%;
	}
	.ag-desc {
    float: none;
    width: 100%;
    padding-right: 30px;
    margin-right: 30px;
    height: 100%;
    border-bottom: 2px solid #e8e8e8;
    border-right: none;
    text-align: center;
	}
	.ag-desc h3, .ag-desc h4.cnpj, .ag-detail img, .ag-desc p.desc, p.end, p.tel {
		text-align:center;
	}
	.ag-detail img {
		width:auto;
		float:none;
	}
	.ag-info {
    float: none;
    width: 100%;
    padding-right: 30px;
    margin-right: 30px;
    height: 100%;
    border-bottom: 2px solid #e8e8e8;
    text-align: center;
    border-right: none;
	}
	h5.dia {
    	margin-bottom: 0;
	}
	p.time, .ag-info .valor, .ag-info h4.plano-saude {
		margin:0;
	}
	.ag-cta {
		float: none;
		width: 100%;
	}
	.bt-encontrar, .bt-cancelar {
		margin-top: 10px;
		text-align: center;
		width:70%;
	}
	.bt-encontrar p, .bt-cancelar p {
		margin-left:0;
	}
}

@media (max-width:800px) {
	.box-results, .detail-info {
		height:500px;
	}
}


@media (max-width:760px) {
	.logo {
    margin-top: 20px;
    width: 180px;
	}
	.col-md-3.cad {
		width:60%;
	}
	.marca {
		margin-left:5%;
	}
}

@media (max-width:650px) {
	.detail-info {
		width:75%;
	}
}

@media (max-width:600px) {
	header {
		height:250px;
	}
	.marca {
    width: 100%;
    float: none;
    margin-left: 0;
}
.menu {
	text-align:center;
	margin-top: 20px;
}
a#menu-toggle {
	float:none;
}

.col-md-3.cad {
    width: 100%;
    height: 80px;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.side-menu {
    float: none;
    height: 80px;
    /* margin-right: 0; */
    margin: 0 auto;
    text-align: center;
}
.cadastrar, .login {
    float: none;
    /* display: inline; */
}
.info-pag h1 {
	font-size: 1.3em;
    margin-top: 18px;
}

.side-menu .user-logged h6 {
	float:none;
	margin-right:0;
}
}

@media (max-width:530px) {
	.box-results {
		height:600px;
	}
	.detail-info {
		width:70%;
		height:600px;
	}
	.box-results .title h3 {
		float:none;
	}
	.box-results .hour-agenda {
		float:none;
	}
	.box-results .barra {
		top:0;
	}
}


@media (max-width:450px) {
	.info-pag h1 {
	font-size: 1.1em;
    margin-top: 18px;
}

.box-results {
	height:700px;
}
.detail-date {
	margin: 0 0 0 30px;
}

.detail-info {
	height:700px;
	width:65%;
}
}