@charset "utf-8";
/* CSS Document */
/* Sistema Laudos.net */
/* Versão 1.0 */
/* Front-End by Thiago bueno */

/* Estrutura do Documento */
/* 1.0 - Estilos Gerais */
/* 2.0 - Sidebar */
/* 3.0 - Master Page */
/* 4.0 - Login */
/* 5.0 - Content */
/* 5.1 - Form Results */
/* 6.0 - Footer */
/* ************ */
/* @Media Queries */

/* 1.0 - Estilos Gerais */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

body {
	background-color:#eceef2;
}

h3, h4 {
	color:#FFF;
}

h4 {
	font-size:15px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

i.fa {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

/* 2.0 - Sidebar */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	overflow-x:hidden;
    background: #002027;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

a#menu-toggle {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a, .dropbtn a {
    display: block;
    text-decoration: none;
    color: #b0bec5;
	padding:10px 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #323232;
    background: #6dc7be;
	border-left: 4px solid #00bfe8;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

li.redes {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    /* height: 65px; */
    padding: 10px;
    text-align: center;
    margin: 10px;
}

li.redes a {
    display: inline;
}

li.redes a:hover {
    text-decoration: none;
    color: #6dc7be;
    background: transparent;
	border-left: none;
}

li.sair {
	clear:both;
}

img.indicar {
    width: 250px;
    margin: 25px 0;
}

img.pontuacao {
    margin-bottom: 40px;
    width: 220px;
    text-align: center;
    /* margin: 0 auto; */
    margin-left: 15px;
}

/* dropdown */
.drop {
	display:none;
	color:#FFF;
}

.dropbtn {
	cursor:pointer;
}

.down:hover .drop {
	display:block;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.perfil {
	margin: 40px 0 40px 10px;
}

.logo {
    bottom: 15px;
}

/* 3.0 - Master Page */

.pre-header {
	position: fixed;
    width: 100%;
    z-index: 10000;
}

.pre-header .col-md-3, .pre-footer .col-md-9 {
	height:4px;
	background-color:#00bfe8;
}

.pre-header .col-md-9, .pre-footer .col-md-3 {
	height:4px;
	background-color:#6dc7be;
}

/* 4.0 - Dashboard */

.col-lg-4.box-dashboard {
    background-color: #FFF;
    margin: 5px;
    width: 32%;
    border-radius: 5px;
	padding:0;
}

.dash-title {
    padding: 0;
    margin: 0;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ededed;
}

.dash-title h1 {
    padding: 0;
    margin: 0;
    color: #777777;
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.dash-cont h2 {
    text-align: center;
    font-size: 25px;
    color: #00bfe8;
    font-weight: bold;
    text-transform: capitalize;
}

.dash-cont span {
    font-size: 17px;
    text-transform: uppercase;
    color: #002027;
}

.box-dashboard .left, .box-dashboard .right {
	margin-bottom:10px;
}

.box-dashboard .right {
	margin-right:10%;
}

.ativos {
    background: #002027;
    text-align: center;
    width: 75%;
    margin-left: 20px;
    padding: 1px;
}

.ativos h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
}

.ativos h3 {
    color: #6dc7be;
    font-size: 35px;
    margin: 10px;
}

.vagos {
    background: #00bfe8;
    text-align: center;
    width: 75%;
    margin-left: 20px;
    padding: 1px;
    margin-top: 10px;
}

.vagos h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
}

.vagos h3 {
    color: #002027;
    font-size: 35px;
    margin: 10px;
}

.dash-foot.clear {
    text-align: center;
    margin-top: 10px;
    padding-top: 15px;
    /* position: relative; */
    border-top: 1px dashed #dadfe4;
    /* top: 10px; */
}

.dash-foot.clear p {
    text-transform: uppercase;
	color:#6dc7be;
	font-weight: bold;
}

.dash-foot.clear span {
    text-transform: uppercase;
	color:#00bfe8;
}

.dash-cont h5 {
    font-size: 15px;
    color: #323232;
    font-weight: bold;
}

.dash-cont h6 {
    background: #686868;
    padding: 5px;
    color: #FFF;
}



/* ******* MEDIA QUERIE ********* */

@media (max-width:1545px) {
	
	.ativos, .vagos {
		    width: 70% !important;
    		margin-left: 5px;
	}
	.box-dashboard .right {
    margin-right: 5%;
	}
}

@media (max-width:1450px) {
	.box-dashboard .left {
		max-width:50% !important;
	}
	
	.ativos h4, .vagos h4 {
		font-size:13px;
	}
	
	.box-dashboard .right {
    margin-right: 2% !important;
	}
}

@media (max-width:1336px) {
	
	.dash-title h1 {
		font-size:14px;
	}
	.dash-cont h2 {
		font-size:18px;
	}
	.box-dashboard .left {
		max-width: 50%;
	}
	.ativos, .vagos {
		width: 80% !important;
    	margin-left: 5px;
	}
	.ativos h4, .vagos h4 {
		font-size:11px;
	}
	.dash-foot.clear p {
		font-size:11px;
	}

}

@media (max-width:1290px) {
	
	.box-dashboard .left, .box-dashboard .right {
		float:none;
		text-align:center;
	}
	
	.box-dashboard .left {
		max-width:100% !important;
	}
	
	.ativos, .vagos {
		width:95% !important;
	}
}

@media (max-width:1200px) {
	.col-lg-4.box-dashboard {
		width:48% !important;
		float:left;
	}
}

@media (max-width:900px) {
	
	.dash-cont h2 {
		font-size:15px;
	}
}

@media (max-width:830px) {
	
	.col-lg-4.box-dashboard {
		width:100% !important;
	}
}

@media (max-width:900px) {
	
	.info-pag h1 {
		font-size:1.3em;
	}
}
